{% extends 'base.html.twig' %}

{% block title %}Uval index{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <section class="content">
            <div class="card col-6 offset-2">
                <div class="card-header"><p class="h6"><a href="{{ path('uval_new') }}">Nouvelle Unité</a></p></div>
                <div class="card-body table-responsive p-0" style="height: 390px;">
                
                    <table class="table table-head-fixed table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for uval in uvals %}
                            <tr>
                                <td>{{ uval.id }}</td>
                                <td>{{ uval.nomuval }}</td>
                                <td>
                                    <a class="btn btn-info" href="{{ path('uval_show', {'id': uval.id}) }}">Consulter</a>
                                    <a class="btn btn-info" href="{{ path('uval_edit', {'id': uval.id}) }}">Editer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                   @Developpeur: BITSA NZDZIE PASCAL
                </div>
            </div>
        
        </section>
    </div>

{% endblock %}
