{% extends 'base.html.twig' %}
{% block body %}
{% include "layouts/nav_head_produit.html.twig" %}
<div class="content-wrapper">
    <section class="content">
        <br>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body table-responsive p-0" style="height: 360px;">
                            <table class="table table-head-fixed text-nowrap">
                                <tbody>
                                    <tr>
                                        <th style="width:3%;">ID</th>
                                        <th>Emballage</th>
                                    </tr>
                                    {% for emballage in uvals %}
                                        <tr>
                                            <td>{{ emballage.id }}</td>
                                            <td>{{ emballage.nomuval }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Liste vide !</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            @Développeur: BITSA NZDZIE PASCAL
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <form action="{{ path('uval_nb') }}" method="post">
                                <div class="form-inline">
                                    <input type="number" name="nb_row" class="form-control" placeholder="Nbre ex: 5">
                                    <button type="submit" class="form-control">Ok</button>
                                </div>
                            </form>
                        </div>

                        <div class="card-body table-responsive p-0" style="height: 350px;">
                            <form action="{{ path('uval_index') }}" method="post">
                                <table class="table table-head-fixed text-nowrap">
                                    <tbody>
                                        <tr>
                                            <th>Emballage</th>
                                        </tr>

                                        {% for nb_row in nb_rows %}
                                            <tr>
                                                <td>
                                                    <input type="text" name="emballage{{ nb_row }}" class="form-control" placeholder="Nom de l'emballage">
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" name="enregistrer" class="btn btn-success form-control offset-1 col-10">Enregistrer</button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}
