{% extends 'base.html.twig' %}

{% block title %}Uval{% endblock %}

{% block body %}
<div class="offset-4 col-4">

    <h3>Unité de gestion</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ uval.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ uval.nomuval }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('uval_index') }} " class="btn btn-primary offset-2 col-md-4" style="margin-top: 10px;">Retour</a>

    <a href="{{ path('uval_edit', {'id': uval.id}) }}" class="btn btn-warning offset-2 col-md-4" style="margin-top: 10px;">Mise à jour</a>

    {{ include('uval/_delete_form.html.twig') }}
</div>
{% endblock %}
