{% extends 'base.html.twig' %}

{% block title %}Magasin index{% endblock %}

{% block body %}
<div class="offset-4 col-5">

    <h1>Magasin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Capacite</th>
                <th>Libre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capacite in magasins %}
            <tr>
                <td>{{ capacite.magasin.id }}</td>
                <td>{{ capacite.magasin.nom }}</td>
                <td>{{ capacite.magasin.capacite }} m<sup>3</sup>  </td>
                <td>{{ capacite.capaciteActuel }} m<sup>3</sup></td>
                <td>
                    <a class="btn btn-success" href="{{ path('magasin_show', {'id': capacite.magasin.id}) }}">Consulter</a>
                    <a class="btn btn-warning" href="{{ path('magasin_edit', {'id': capacite.magasin.id}) }}">Mettre à jour</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('magasin_new') }}">Enregistrer un nouveau magasin</a>
</div>
{% endblock %}
