{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
			<br>
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-4">
						<div class="card">
						 <h3 class="card-title">Liste des produits disponibles</h3>
							<div class="card-body table-responsive p-0" style="height: 390px;">
								<table class="table table-head-fixed text-nowrap">

									<tbody>
										<tr>
											<th style="width:3%;">Code</th>
											{# <th>Produit</th> #}
											<th>Prix</th>
										</tr>
										{% for produit in produits %}
											<tr>
												<td>{{produit.reference}}</td>
                                                {# <td>{{produit.nomFamille}} {{produit.nomProduit}}</td> #}
                                                <td>{{produit.prixDeVente| number_format(0, ' ', ' ')}} FCFA</td>
                                            </tr>
										{% else %}
											<tr>
												<td colspan="3">Liste vide !</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
						</div>
					</div>
                    
                    <div class="col-md-8">

                        <div class="card">
                            <div class="card-header">
								<form action="{{ path('produit_nb') }}" method="post">
								<div class="form-inline">
									Nb de produits:
									<input type="number" name="nb_row" class="form-control" placeholder="Ex: 5">
									<button type="submit" class="btn btn-default">Ok</button>
								</div>
								</form>
                                
                            </div>
                            <!-- /.card-header -->
							<div class="card-header form-inline">
								<form action="{{path('produit_sessionFamille')}}" method="post">
									Famille:
									<select class="form-control" name="famille" id="">
										{% for famille in familles %}
										<option value="{{famille.id}}">{{famille.nom}}</option>
											
										{% else %}
										<option value="">Liste vide...</option>
										{% endfor %}
									</select>
									<button class="btn btn-default" type="submit">Ok</button>
								</form>
							</div>
                            <div class="card-body table-responsive p-0" style="height: 350px;">
                                <form action="{{ path('produit_index') }}" method="post">
                                    <table class="table table-head-fixed text-nowrap">
                                        <tbody>
                                            <tr>
                                                <th>Produit</th>
                                                <th>Masse</th>
												<th>Mesure</th>
                                            </tr>

											{% for nb_row in nb_rows %}
                                            <tr>
                                                <th>
                                                    <input type="text" name="produit{{nb_row}}" class="form-control" placeholder="Nom du produit" id="">
												</th>
                                                <th>
                                                    <input type="number" name="masse{{nb_row}}" class="form-control" placeholder="Masse en qté Ex: 300" id="">
												</th>
												<th>
													<select type="text" name="mesure{{nb_row}}" class="form-control">
														{% for mesure in mesures %}
															<option value="{{mesure.id}}">{{mesure.unite}}</option>
															
														{% else %}
																<option value="">Liste vide</option>
														{% endfor %}
													</select>
												</th>
                                            </tr>
												
											{% endfor %}
												
											
                                        </tbody>
										<!-- /.tbody -->
                                    </table>
                                    <button type="submit" name="enregistrer" class="btn btn-success form-control offset-1 col-10">Enregistrer</button>
									<br><br>
                                </form>
                                <!-- /.form -->

								</div>
								<!-- /.card-body -->
                                </div>

                            </div>


                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->


                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
