{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
			<br>
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-4">
						<div class="card">
						 <div class="card-header"><p class="h5">Liste des Produits Enregistrés</p></div>
							<div class="card-body table-responsive p-0" style="height: 390px;">
								<table class="table table-head-fixed text-nowrap">

									<tbody>
										<tr>
											<th>Nom</th>
											<th>Code</th>
										</tr>
										{% for produit in produits %}
											<tr>
												<td>{{produit.nom}}</td>
                                                <td>{{produit.code}}</td>
                                            </tr>
										{% else %}
											<tr>
												<td colspan="3">Liste vide !</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
						</div>
					</div>
                    
                    <div class="col-md-8">

                        <div class="card">
                            <div class="card-header">
								<form action="{{ path('produit_nb') }}" method="post">
								<div class="form-inline">
									Nb Produits:
									<input type="number" name="nb_row" class="form-control" value="1">
									<button type="submit" class="btn btn-default">Ok</button>
								</div>
								</form>
                                
                            </div>
                            <!-- /.card-header -->
							<div class="card-header form-inline">
								<form action="{{path('produit_sessionFamille')}}" method="post">
									Famille:
									<select class="form-control" name="famille" id="">
										{% for famille in familles %}
										<option value="{{famille.id}}">{{famille.nom}}</option>
											
										{% else %}
										<option value="">Liste vide...</option>
										{% endfor %}
									</select>
									<button class="btn btn-default" type="submit">Ok</button>
								</form>
								<!--on affiche ici le nom de la famille qui est dans la session-->
								<div style="margin-left: 2%;">
									{% if app.session.get('famille') %}
										Famille en cours: <strong>{{nom_famille}}</strong>
									{% else %}
										<h6>Aucune famille choisie pour l'instant!</h6>
									{% endif %}
								</div>
							</div>
                            <div class="card-body table-responsive p-0" style="height: 200px;">
                                <form action="" method="post">
                                    <table class="table table-head-fixed text-nowrap">
                                        <tbody>
                                            <tr>
                                                <th>Produit</th>
                                                {# <th>Qte d'alerte</th> #}
                                            </tr>

											{% for nb_row in nb_rows %}
                                            <tr>
                                                <th>
                                                    <input type="text" name="produit{{nb_row}}" class="form-control" placeholder="Nom du produit" id="">
												</th>
                                                {# <th>
                                                    <input type="number" name="alerte{{nb_row}}" class="form-control" placeholder="Qte d'alerte" id="">
												</th> #}
							
                                            </tr>
												
											{% endfor %}
												
											
                                        </tbody>
										<!-- /.tbody -->
                                    </table>
                                <!-- /.form -->

								</div>
								<!-- /.card-body -->
								<button type="submit" name="enregistrer" class="btn btn-success form-control offset-1 col-10">Enregistrer</button>
								<br><br>
                                </form>
                                </div>

                            </div>


                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->


                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
