{% extends 'base.html.twig' %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <br>
        <div class="container-fluid">

            <div class="col-md-12">

                <div class="card">

                    <table class=" table-head-fixed">
                        <thead class="table table-primary table-head-fixed">
                            <tr>
                                <td colspan='2'>Nouvelle(s) Commande(s)</td>
                            </tr>

                        </thead>
                    </table>
                    <!-- /.card-header -->
                    <div class="card-header form-inline">

                        <div class="card-body table-responsive p-0" style="height:500px;">
                            <table class="table table-head-fixed">

                                <form action="{{ path('achat_new') }}" method="post">

                                    <tbody class="table table-bordered">
                                        <tr>
                                            <th>ID</th>
                                            <th>Produit</th>
                                            <th>Qte</th>
                                            <th>Unité d'achat</th>
                                            <th>Date de livraison</th>
                                        </tr>

                                        {% for produit in produits %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="produit_id[]" value="{{produit.id}}" class="" id="">
                                            </td>
                                            <td>
                                                {{ produit.famille.nom }} {{ produit.nom }}
                                                <input type="hidden" name="produit_name[]" value="{{produit.id}}" class="form-control" id="">
                                            </td>
                                            <td>
                                                <input type="text" name="quantite[]" class="form-control" id="">
                                            </td>
                                            <td>
                                                {{ produit.uniteAchat.nomuval }}
                                            </td>
                                            <td><input type="date" name="date_commande[]" class="form-control" id="">
                                            </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                            </table>

                        </div>
                        <!-- /.card -->
                        <br>
                        <button type="submit" name="enregistrer" class="btn btn-success offset-4">Enregistrer
                            la commande</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

{% endblock %}