{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block body %}
<div class="container col-md-8 offset-3">
    <h4>Réception de la commande n°{{achat.id}}: {{ achat.produit.nom }} </h4>

    <table class="table ">
        <tbody>
            <tr>
                <th>Date commande</th>
                <th>Quantité</th>
                <th>Prix total</th>
                <th>Prix unitaire</th>
                
            </tr>
            <tr>
                <td>{{ achat.dateachat ? achat.dateachat|date('m/d/Y H:i:s') : '' }}</td>
                <td>
                    {% if achat.getQteAchat >=2 %}
                    {{achat.getQteAchat| number_format(0, ' ', ' ')}} {{achat.getUniteAchat.getNomuval}}{{'s'}}
                    {% else %}
                    {{achat.getQteAchat| number_format(0, ' ', ' ')}} {{achat.getUniteAchat.getNomuval}}  
                    {% endif %}
                </td>
                <td>{{ achat.getPrixAchatTotal }}</td>
                <td>{{ achat.getPrixAchatUnitaire }}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="offset-4 col-md-8">

    <h4>Formulaire de la réception</h4>

    <form action="" method="post">
        <!--numero de commande-->
        <label for="numero_commande">Numéro</label>
        <input disabled style="margin-left: 10%;" type="text" name="numero_commande" id="numero_commande" value="{{achat.id}}"><br>
        <!--nom de commande-->
        <label for="nom_commande">Libelé</label>
        <input disabled style="margin-left: 12%;" type="text" name="nom_commande" id="nom_commande" value="{{achat.produit.nom}}"><br>
        <!--qte totale de commande-->
        <label for="qte_tot">Qté Totale</label>
        <input style="margin-left: 8%;" type="text" name="qte_tot" id="qte_tot" value="{{achat.getQteAchat}}"><br>
        <!--prix unitaire de commande-->
        <label for="prix_tot">Prix Total</label>
        <input style="margin-left: 9%;" type="text" name="prix_tot" id="prix_tot" value="{{achat.getPrixAchatTotal}}"><br>
        <!--date de commande-->
        <label for="date_commande">Date Commnde</label>
        <input style="margin-left: 4%;" type="text" name="date_commande" id="date_commande" value="{{achat.dateachat|date('m/d/Y')}}"><br>
        <!--date de reception-->
        <label for="date_reception">Date Réception</label>
        <input style="margin-left: 4%; width: 190px;" type="text" placeholder="Jour/Mois/Année" name="date_reception" id="date_reception"><br>
        <!--bouton valider-->
        <input style="margin-left: 17%; width: 190px;" type="submit" value="Valider" class="btn btn-success"><br>
    </form>

    

</div>
{% endblock %}