{% extends 'base.html.twig' %}
{% block body %}
{% include "layouts/nav_head_produit.html.twig" %}
<div class="content-wrapper">
    <section class="content">
        <br>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body table-responsive p-0" style="height: 360px;">
                            <table class="table table-head-fixed text-nowrap">
                                <tbody>
                                    <tr>
                                        <th style="width:3%;">ID</th>
                                        <th>Catégorie</th>
                                        <th>Famille</th>
                                    </tr>
                                    {% for categorie in categories %}
                                        <tr>
                                            <td>{{ categorie.id }}</td>
                                            <td>{{ categorie.nomCat }}</td>
                                            <td>{{ categorie.famille.nom }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Liste vide !</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            @Développeur: BITSA NZDZIE PASCAL
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <form action="{{ path('categorie_nb') }}" method="post">
                                <div class="form-inline">
                                    <input type="number" name="nb_row" class="form-control" placeholder="Nbre ex: 5">
                                    <button type="submit" class="form-control">Ok</button>
                                </div>
                            </form>
                        </div>

                        <div class="card-body table-responsive p-0" style="height: 350px;">
                            <form action="{{ path('categorie_index') }}" method="post">
                                <table class="table table-head-fixed text-nowrap">
                                    <tbody>
                                        <tr>
                                            <th>Catégorie</th>
                                            <th>Famille</th>
                                        </tr>

                                        {% for nb_row in nb_rows %}
                                            <tr>
                                                <td>
                                                    <input type="text" name="categorie{{ nb_row }}" class="form-control" placeholder="Nom de la catégorie">
                                                </td>
                                                <td>
                                                    <select name="famille_id{{ nb_row }}" class="form-control">
                                                        <option value="">-- Choisir une famille --</option>
                                                        {% for famille in familles %}
                                                            <option value="{{ famille.id }}">{{ famille.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" name="enregistrer" class="btn btn-success form-control offset-1 col-10">Enregistrer</button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}
