{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
			<br>
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body table-responsive p-0" style="height: 390px;">
                                <br>
                                <form action="" method="post" class='col-md-8'>
                                    <div class="row">
                                        <div class="col-md-8">
                                            Entrer votre budjet d'achat
                                            <input type="text" name="budjet" class="form-control" placeholder="{{'75000' | number_format(0, ' ', ' ')}}">
                                        </div>
                                        <div class="col-md-4">
                                            Devise
                                            <select type="text" name="" class="form-control">
                                                <option value="">FCFA</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            Entrer le prix unitaire de l'article
                                            <input type="text" name="prixUnitArt" class="form-control" placeholder="{{'27000' | number_format(0, ' ', ' ')}}">
                                        </div>
                                        <div class="col-md">
                                            Devise
                                            <select type="text" name="" class="form-control">
                                                <option value="">FCFA</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-8">
                                            Pour votre budjet de {{budjet | number_format(0, ' ', ' ')}} FCFA, il vous reste
                                            <input type="text" name="resteBudjet" class="form-control" value="{{resteBudjet | number_format(0, ' ', ' ')}} FCFA">
                                        </div>
                                        <div class="col-md">
                                            Devise
                                            <select type="text" name="" class="form-control">
                                                <option value="">FCFA</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            Prix total des {{nbArt}} Articles
                                            <input type="text" name="prixTotalArt" class="form-control" value="{{depenses | number_format(0, ' ', ' ')}}">
                                        </div>
                                        <div class="col-md">
                                            Devise
                                            <select type="text" name="" class="form-control">
                                                <option value="">FCFA</option>
                                            </select>
                                        </div>
                                    </div>
                                    Nbre Articles possibles pour ce budjet d'achat
                                    <input type="text" name="nbArticles" class="form-control" value="{{nbArt | number_format(0, ' ', ' ')}}">
                                    <br>
                                    <button type="submit" class='btn btn-dark col-md-12'>Traiter le devis d'achat</button>
                                    
                                </form>
                                <br>
                                <tbody>
								
								</tbody>

							</div>
							<!-- /.card-body -->
						</div>
					</div>

                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
