{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <br>
                <div
                    class="container-fluid">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3"></div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <form action="{{ path('stock_nb') }}" method="post">
                                            Nb Stocks:
                                            <input type="number" name="nb_row" min='1' max='1' class="form-control" value="1">
                                                <button type="submit" class="form-control">Ok</button>
                                        </form>

                                        <div class='marge'>
                                            <form action="{{ path('stock_sessionStock') }}" method="post">
                                                Type de Modification
                                                <select type="text" name="optionModifStock" class="form-control" value="" id="">
                                                    <option value="soustraction">Retirer la Marge</option>
                                                    <option value="addition">Ajouter la Marge</option>
                                                </select>
                                                <button type="submit" class="form-control">Ok</button>
                                            </form>
                                        </div>
                                            
                                        </div>

                                    </div>
                                    <table class=" table-head-fixed">
                                        <thead class="table table-primary table-head-fixed">
                                            <tr>
                                                <td colspan='2'>Modification du stock produit</td>
                                            </tr>

                                        </thead>
                                    </table>
                                    <!-- /.card-header -->
                                    <div class="card-header form-inline">
                                        Stock Produit:
                                        <form action="{{ path('stock_sessionStock') }}" method="post">
                                            <select class="form-control" name="produit" id="">
                                                {% for stock in stocks %}
                                                    <option value="{{ stock.id }}">{{ stock.achat.produit.famille.nom }}
                                                        {{ stock.achat.produit.nom }}</option>

                                                {% else %}
                                                    <option value="">Liste vide...</option>
                                                {% endfor %}
                                            </select>
                                            <button class="btn btn-default" type="submit">Ok</button>
                                        </form>


                                        <form action="{{ path('stock_sessionStock') }}" method="post" class='marge'>
                                            Marge de Prix:
                                            <select class="form-control" name="margeprix" id="">
                                                {% for margep in margePrix %}
                                                    <option value="{{ margep.id }}">{{ margep.marge| number_format(0, ' ', ' ')}} FCFA</option>

                                                {% else %}
                                                    <option value="">Liste vide...</option>
                                                {% endfor %}
                                            </select>
                                            <button class="btn btn-default" type="submit">Ok</button>
                                        </form>

                                        <div class="card-body table-responsive p-0" style="height: 150px;">
                                            <table class="table table-head-fixed">

                                                <form action="" method="post">

                                                    <tbody class="table table-light">
                                                        {% if app.session.get('stock') %}
                                                            {% for nb_row in nb_rows %}
                                                                <tr>
                                                                    <td>Qte total stock<input type="text" name="qteStock{{ nb_row }}" class="form-control" value="{{ stock.getQteStockage }}" id=""></td>
                                                                        <td>Prix total de Vente<input type="text" name="" class="form-control" value="{{ stock.getPrixVenteTotaleStock }}" id=""></td>
                                                                            <td>Prix unitaire de Vente<input type="text" name="prixUnit{{ nb_row }}" class="form-control" value="{{ stock.getPrixVenteUnitaireStock}}" id=""></td>
                                                                                <td>Frais de stockage<input type="text" name="" class="form-control" value="Ex: 10000" id=""></td>
                                                                                    </tr>
                                                                                {% endfor %}

                                                                            {% endif %}

                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                                <!-- /.card -->
                                                                <br>
                                                                {% if app.session.get('achat') %}
                                                                    <button type="submit" name="enregistrer" class="btn btn-success">Modifier le stock</button>
                                                                    </form>
                                                                    
                                                                {% endif %}
                                                            </div>


                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div></div>{% endblock %}
