{% extends 'base.html.twig' %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <br>
        <div class="container-fluid">

            <div class="col-md-12">

                <div class="card">

                    <table class=" table-head-fixed">
                        <thead class="table table-primary table-head-fixed">
                            <tr>
                                <td colspan='2'>Nouveau(x) stock(s)</td>
                            </tr>

                        </thead>
                    </table>
                    <!-- /.card-header -->
                    <div class="card-header form-inline">

                        <div class="card-body table-responsive p-0" style="height:500px;">
                            <table class="table table-head-fixed">

                                <form action="{{ path('stock_new') }}" method="post">

                                    <tbody class="table table-bordered">
                                        <tr>
                                            <th>ID</th>
                                            <th>Achat</th>
                                            <th>Qte</th>
                                            <th>Magasin</th>
                                            <th>Date de livraison</th>
                                        </tr>

                                        {% for produit in produits %}
                                        <tr>
                                            <td style="width: 10px;">
                                                <input type="checkbox" name="reception_id[]" value="{{produit.id}}" class="" id="">
                                            </td>

                                            <td style="width: 200px;">
                                                {{ produit.commande.produit.famille.nom }} {{ produit.commande.produit.nom }}
                                                <input type="hidden" name="reception_name[]" value="{{produit.id}}" class="form-control" id="">
                                                {% if produit.qte >=2%}
                                                {{ produit.qte }} {{ produit.commande.produit.uniteAchat.nomuval }}s
                                                {% else %}
                                                {{ produit.qte }} {{ produit.commande.produit.uniteAchat.nomuval }}
                                                {% endif %}
                                                
                                            </td>
                                            
                                            <td style="width: 50px;">
                                                {% if produit.qte == 1 %}
                                                <input style="width: 100px;" type="number" name="quantite[]" class="form-control" id="" value="1" min="1" max="1">   
                                                {% else %}
                                                <input style="width: 100px;" type="number" name="quantite[]" class="form-control" id="" min="1" max="{{produit.qte}}">   
                                                {% endif %}
                                                
                                            </td>
                                            <td style="width: 150px;">
                                                <select style="width: 200px;" name="" id="" class="form-control"></select>
                                            </td>
                                            <td style="width: 200px;"><input style="width: 200px;" type="date" name="date_stock[]" class="form-control" id="">
                                            </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                            </table>

                        </div>
                        <!-- /.card -->
                        <br>
                        <button type="submit" name="enregistrer" class="btn btn-success offset-4">Enregistrer
                            la commande</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

{% endblock %}