{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <br>
                <div
                    class="container-fluid">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3"></div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <form action="{{ path('stock_nb') }}" method="post">
                                            Nb Stocks:
                                            <input type="number" name="nb_row" min='1' max='1' class="form-control" value="1">
                                                <button type="submit" class="form-control">Ok</button>
                                            </form>

                                            <form action="{{ path('stock_sessionProduit') }}" method="post" class='marge'>
                                                Unité:
                                                <select class="form-control" name="" id="">
                                                    {% for catuval in catuvals %}
                                                        <option value="{{ catuval.id }}">{{ catuval.nomcatuval }}
                                                        </option>

                                                    {% else %}
                                                        <option value="">Liste vide...</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-default" type="submit">Ok</button>
                                            </form>

                                            <form action="{{ path('stock_Uval') }}" method="post" class='marge'>
                                                Unité de Stockage:
                                                <select class="form-control" name="uval" id="">
                                                    {% for uval in uvals %}
                                                        <option value="{{ uval.id }}">{{ uval.nomuval }}</option>

                                                    {% else %}
                                                        <option value="">Liste vide...</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-default" type="submit">Ok</button>
                                            </form>
                                        </div>

                                    </div>
                                    <table class=" table-head-fixed">
                                        <thead class="table table-primary table-head-fixed">
                                            <tr>
                                                <td colspan='2'>Creation du stock produit</td>
                                            </tr>

                                        </thead>
                                    </table>
                                    <!-- /.card-header -->
                                    <div class="card-header form-inline">
                                        Produit:
                                        <form action="{{ path('stock_sessionProduit') }}" method="post">
                                            <select class="form-control" name="produit" id="">
                                                {% for achat in achats %}
                                                    <option value="{{ achat.id }}">{{ achat.produit.famille.nom }}
                                                        {{ achat.produit.nom }}</option>

                                                {% else %}
                                                    <option value="">Liste vide...</option>
                                                {% endfor %}
                                            </select>
                                            <button class="btn btn-default" type="submit">Ok</button>
                                        </form>


                                        <form action="{{ path('stock_Uval') }}" method="post" class='marge'>
                                            Unité de Vente:
                                            <select class="form-control" name="uvalVente" id="">
                                                {% for uval in uvals %}
                                                    <option value="{{ uval.id }}">{{ uval.nomuval }}</option>

                                                {% else %}
                                                    <option value="">Liste vide...</option>
                                                {% endfor %}
                                            </select>
                                            <button class="btn btn-default" type="submit">Ok</button>
                                        </form>

                                        <div class="card-body table-responsive p-0" style="height: 150px;">
                                            <table class="table table-head-fixed">

                                                <form action="{{ path('stock_new') }}" method="post">

                                                    <tbody class="table table-light">
                                                        {% for nb_row in nb_rows %}
                                                            <tr>
                                                                <td>Qte total stock n°{{ nb_row +1 }}<input type="text" name="qteStock{{ nb_row }}" class="form-control" value="{{ nbArt }}" id=""></td>
                                                                    <td>Prix total d'achat<input type="text" name="" class="form-control" value="{{ depenses }}" id=""></td>
                                                                        <td>Prix unitaire d'achat<input type="text" name="prixUnit{{ nb_row }}" class="form-control" value="{{ prixUnit }}" id=""></td>
                                                                            <td>Frais de stockage<input type="text" name="" class="form-control" value="{{ resteBudjet }}" id=""></td>
                                                                                <td>Devise
                                                                                    <select type="text" name="" class="form-control" value="" id="">
                                                                                        <option value="">FCFA</option>
                                                                                    </select</td>
                                                                                </tr>
                                                                            {% endfor %}

                                                                        </tbody>
                                                                    </table>


                                                                </div>
                                                                <!-- /.card -->
                                                                <br>
                                                                    <button type="submit" name="enregistrer" class="btn btn-success">Enregistrer le stock</button>
                                                                </form>
                                                            </div>


                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>{% endblock %}
