{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <br>
                <div
                    class="container-fluid">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3"></div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <div>
                                            Nb Stocks:
                                            <form action="{{ path('stock_nb') }}" method="post">
                                            <input type="number" name="nb_row" min='1' max='1' class="form-control" value="1">
                                                <button type="submit" class="form-control">Ok</button>
                                            </form>
                                        </div>
                                        <div class="marge2">
                                            Unité de vente:
                                            <form action="{{ path('stock_Uval') }}" method="post">
                                                <select class="form-control" name="uvente" id="">
                                                    {% for element in uvals %}
                                                        <option value="{{ element.id }}">{{ element.nomuval }} </option>

                                                    {% else %}
                                                        <option value="">Liste vide...</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-default" type="submit">Ok</button>
                                            </form>
                                        </div>
                                        <div class='marge2'>
                                            {% if app.session.get('uvalVente') and app.session.get('achat') and uniteAchat != uniteVente %}
                                                Qté de produits / {{achat.getUniteAchat.nomuval}} --------
                                                <form action="{{ path('stock_Uval') }}" method="post">
                                                <input type="number" name="qtps" min='1' class="form-control" placeholder="Nb produits par {{achat.getUniteAchat.nomuval}}" required>
                                                <button type="submit" class="form-control">Ok</button>
                                                </form>
                                            {% endif %}
                                        </div>

                                    </div>
                                        

                                    </div>
                                    <table class=" table-head-fixed">
                                        <thead class="table table-primary table-head-fixed">
                                            <tr>
                                                <td colspan='2'>Creation du stock produit</td>
                                            </tr>

                                        </thead>
                                    </table>
                                    <!-- /.card-header -->
                                    <div class="card-header form-inline">
                                        <div>
                                            Produit:
                                            <form action="{{ path('stock_sessionAchat') }}" method="post">
                                                <select class="form-control" name="produit" id="">
                                                    {% for achat in achats %}
                                                        <option value="{{ achat.id }}">{{ achat.produit.famille.nom }}
                                                            {{ achat.produit.nom }}</option>

                                                    {% else %}
                                                        <option value="">Liste vide...</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-default" type="submit">Ok</button>
                                            </form>
                                        </div>

                                        <div class="marge2">
                                            Profit unitaire:
                                            <form action="{{ path('stock_Uval') }}" method="post" class='marge'>
                                                <select class="form-control" name="margeprix" id="">
                                                    {% for margep in margePrix %}
                                                        <option value="{{ margep.id }}">{{ margep.marge| number_format(0, ' ', ' ')}} FCFA</option>

                                                    {% else %}
                                                        <option value="">Liste vide...</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="btn btn-default" type="submit">Ok</button>
                                            </form>
                                        </div>

                                        <div class="marge2">
                                            
                                        </div>

                                        <div class="card-body table-responsive p-0" style="height: 150px;">
                                            <table class="table table-head-fixed">

                                                <form action="{{ path('stock_new') }}" method="post">

                                                    <tbody class="table table-light">
                                                        {% if app.session.get('achat') %}
                                                            {% for nb_row in nb_rows %}
                                                                <tr>
                                                                    <td>Qte totale<input type="text" name="qteStock{{ nb_row }}" class="form-control" value="{{ qteTotale }}" id=""></td>
                                                                    <td>Prix total<input type="text" name="" class="form-control" value="{{ prixTotal }}" id=""></td>
                                                                    <td>Prix unitaire<input type="text" name="prixUnit{{ nb_row }}" class="form-control" value="{{ prixUnitaire }}" id=""></td>
                                                                    <td>Frais de stockage<input type="text" name="" class="form-control" value="Ex: 10000" id=""></td>
                                                                </tr>
                                                            {% endfor %}

                                                        {% endif %}

                                                        </tbody>
                                                    </table>

                                                </div>
                                                <!-- /.card -->
                                                <br>
                                                {% if app.session.get('achat') and app.session.get('uvalVente') and app.session.get('margePrix') %}
                                                    <button type="submit" name="enregistrer" class="btn btn-success">Enregistrer le stock</button>
                                                    </form>
                                                    
                                                {% endif %}
                                            </div>


                                        </section>
                                    </div>
                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div></div>{% endblock %}
