{% extends 'base.html.twig' %}
{% block body %}
{% include "layouts/nav_head_sortie.html.twig" %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
			<br>
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-12">
						<div class="card">
                            <div class="card-header">
                            </div>
							<div class="card-body table-responsive p-0" style="height: 390px;">
                                
								<table class="table table-head-fixed table-bordered">

									<tbody>
										<tr>
                                            <th>ID</th>
											<th>Produit</th>
                                            <th>Qté Tot.</th>
                                            <th>Prix Unit.</th>
                                            <th>Prix Total</th>
                                            <th>Date Sortie</th>
										</tr>
										{% for stock in sorties %}
											<tr>
                                                <td>{{stock.id}}</td>
												<td>{{stock.produit.uniteVente.nomuval}} {{stock.produit.nom}}</td>
                                                <td>
                                                    {{stock.qteSortie| number_format(0, ' ', ' ')}}
                                                </td>
                                                <td>{{stock.produit.prixVente| number_format(0, ' ', ' ')}} FCFA</td>
                                                <td>{{stock.valeur| number_format(0, ' ', ' ')}} FCFA</td>
                                                <td>{{stock.dateSortie| date("m/d/Y h:m")}}</td>
                                            </tr>

										{% else %}
											<tr>
												<td colspan="8" align='center'>Liste vide !</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
                            <div class="card-footer">
                                @Developpeur: BITSA NZDZIE PASCAL
                            </div>
						</div>
					</div>

                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
