{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
			<br>
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-12">
						<div class="card">
						 <div class="card-header"><p class="h5">Liste des Profits Enregistrés</p></div>
							<div class="card-body table-responsive p-0" style="height: 390px;">
                                
								<table class="table table-head-fixed table-bordered">

									<tbody>
										<tr>
											{# <th>ID</th> #}
											<th>Produit</th>
                                            <th>Unité Vente</th>
                                            <th>Prix Unit. Vente</th>
                                            <th>Profit Unit. Vente</th>
                                            <th>Profit Total</th>
											
										</tr>
										{% for stock in stocks %}
											<tr>
												{# <td>{{stock.reference}}</td> #}
                                                <td><a href=""> {{stock.achat.produit.nom}}</a></td>
                                                <td>{{stock.getUniteStockage.nomuval}}</td>
                                                <td>{{stock.getPrixVenteUnitaireStock | number_format(0, ' ', ' ')}} FCFA</td>
                                                <td>{{stock.getPrixVenteUnitaireStock - stock.achat.getPrixAchatUnitaire }} FCFA</td>
                                                <td>{{(stock.getPrixVenteUnitaireStock - stock.achat.getPrixAchatUnitaire) * stock.getQteStockage  }} FCFA</td>
                                            </tr>

										{% else %}
											<tr>
												<td colspan="8" align='center'>Liste vide !</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
                            <div class="card-footer">
                                @Developpeur: BITSA NZDZIE PASCAL
                            </div>
						</div>
					</div>

                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
