{% extends 'base.html.twig' %}

{% block body %}
{% include "layouts/nav_head_sortie.html.twig" %}
<div class="content-wrapper">

    <section class="content">
        <br>
        <div class="container row">

            <div class="col-md-8">

                <div class="card">

                    <div class="card-header form-inline"></div>

                    <div class="card-body table-responsive p-0" style="height: 360px;" id="card-sortie">

                        <table class="table table-head-fixed text-nowrap" style="margin-top: 2%;">
                            <form action="" method="post">
                                <tbody class="table table-bordered">
                                    <tr>
                                        <th>ID</th>
                                        <th>Produit</th>
                                        <th>Prix</th>
                                        <th>Stock</th>
                                        <th>Qte sortie</th>
                                    </tr>

                                    {% for produit in produits %}
                                        {% if produit.qteTot > 1 %}
                                            <tr>
                                                <td style="width: 1%;">
                                                    <input type="checkbox" name="produit_id[]" value="{{ produit.produit.id }}">
                                                </td>

                                                <td style="width: 30%;">
                                                    {{ produit.produit.uniteVente.nomuval }} {{ produit.produit.nom }}
                                                    <input type="hidden" name="produit_name[]" value="{{ produit.produit.id }}">
                                                </td>

                                                <td>
                                                    {{ produit.produit.prixVente|number_format(0,' ',' ') }} FCFA
                                                </td>

                                                <td style="width: 20%;">
                                                    {{ produit.qteTot|number_format(0, ' ', ' ') }}
                                                </td>

                                                <td style="width: 20%;"> {# largeur élargie #}
                                                    <input type="number" name="quantite[]" class="form-control" 
                                                           style="width: 100%; font-size: 16px;" 
                                                           min="1" max="{{ produit.qteTot|number_format(0, ' ', ' ') }}">
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                </tbody>
                        </table>

                        <br>
                        <button type="submit" name="enregistrer" id="btn_sortie" class="btn btn-success offset-4">
                            Enregistrer la commande
                        </button>
                    </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {% include "layouts/calculatrice.html.twig" %}
            </div>

        </div>

    </section>
</div>

{% endblock %}
