{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
			<br>
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-12">
						<div class="card">
						 <h3 class="card-title">Liste des Stock Enregistrés <a href="{{path('stock_new')}}"><i class="fa fa-pen"></i></a></h3>
							<div class="card-body table-responsive p-0" style="height: 390px;">
                                <br>
                                <form action="" method="post">
                                    <div class="form-inline">
                                        <input type="text" name="" class="form-control">
                                        <button type="submit" class='btn btn-dark'><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                                <br>
								<table class="table table-head-fixed table-bordered">

									<tbody>
										<tr>
											{# <th>ID</th> #}
											<th>Produit</th>
                                            <th>Unité</th>
                                            <th>Qté Tot.</th>
                                            {# <th>Qté Sec</th> #}
                                            <th>Prix Unit.</th>
                                            <th>Prix Total</th>
											
										</tr>
										{% for stock in stocks %}
											<tr>
												<td>{{stock.achat.produit.nom}}</td>
                                                <td>{{stock.getUniteStockage.nomuval}}</td>
                                                <td>{{stock.getQteStockage| number_format(0, ' ', ' ')}}</td>
                                                {# <td>{{stock.achat.produit.alerte}}</td> #}
                                                <td>{{stock.getPrixVenteUnitaireStock| number_format(0, ' ', ' ')}} FCFA</td>
                                                <td>{{stock.getPrixVenteTotaleStock| number_format(0, ' ', ' ')}} FCFA</td>
                                                {# <td><a href=""> {{stock.nomProduit}}</a></td>
                                                <td>{{stock.unite}}</td>
                                                <td>{{stock.qt| number_format(0, ' ', ' ')}}</td>
                                                <td>{{stock.qs| number_format(0, ' ', ' ')}}</td>
                                                <td>{{stock.pvu | number_format(0, ' ', ' ')}} FCFA</td>
                                                <td>{{stock.pvt | number_format(0, ' ', ' ')}} FCFA</td> #}
                                            </tr>

										{% else %}
											<tr>
												<td colspan="8" align='center'>Liste vide !</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
						</div>
					</div>

                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
